<!DOCTYPE html>
<html>
  <head>
    <title>Pitbikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="main_wrapper">
    <%= render partial: 'landing/header' %>
    <%= yield %>
    <%= render partial: 'landing/footer' %>
  </body>
</html>
